.codeblock {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: auto;
    max-width: calc(min(760px, 100%));
    overflow-x: auto;
    justify-self: center;
    border-radius: 0.5rem;
}

.codeblock > code {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

h1 {
    margin-bottom: 0.375rem;
}

h2 {
    margin-top: 0.75rem;
    margin-bottom: 0.375rem;
}

h3 {
    margin-top: 0.75rem;
    margin-bottom: 0.125rem;
}
